__pycache__/
kittyhack.log*
*.db
.venv/
*.po~
config.ini
sync-to-kittyflap.sh
*.code-workspace
notifications.json
ignore_*
.vscode/settings.json
config.remote.ini
.remote-mode
.remote-control-session
.wlan-action-in-progress
*.remote_synced
*.remote_restart_pending
