[Unit]
Description=KittyHack WebGUI for Kittyflap
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/kittyhack
ExecStart=/root/kittyhack/.venv/bin/shiny run --host=0.0.0.0 --port=80
Environment="PATH=/root/kittyhack/.venv/bin:$PATH"
Restart=always
RestartSec=5

# Process handling
KillSignal=SIGTERM
KillMode=mixed
TimeoutStopSec=30
SuccessExitStatus=SIGKILL

[Install]
WantedBy=multi-user.target
